# User Constraint File for iCE40hx8k Breakout Board

# Onboard LEDs
set_io LED[0] B5
set_io LED[1] B4
set_io LED[2] A2
set_io LED[3] A1
set_io LED[4] C5
set_io LED[5] C4
set_io LED[6] B3
set_io LED[7] C3

# wire out: to be for switch with resistor see PULLDOWN
set_io out P16
